NODE_ENV=development
PORT=5000
DATABASE_URL=""

BCRYPT_SALT_ROUND=10


# cloudinary
CLOUDINARY_CLODE_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# jwt
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRE=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE=

# reset password
RESET_PASS_SECRET=
RESET_PASS_TOKEN_EXPIRE_IN=
RESET_PASS_LINK= #link comes from frontend

# AI
ROUTER_API_KEY=

# stripe payment
STRIPE_SECRET_KEY=
CLIENT_URL=
STRIPE_WEBHOOK_SECRET=


# nodemail
EMAIL=
APP_PASS=